.content
  margin 64px 0 0 0

  .container
    .content-features
      padding 0

    .content-block
      padding 1em
      border-left 6px solid #dedede
      border-bottom 1px solid #dedede

      &-title
        font-family 'Montserrat'

      &:hover
        background-color #dedede

      &:nth-child(1)
        border-left-color green
      &:nth-child(2)
        border-left-color red
      &:nth-child(3)
        border-left-color blue
      &:nth-child(4)
        border-left-color orange

.content-text-image
  .container
    picture
      margin 0 auto
      img
        width 100%

@media (min-width: 786px)
  .container
    width 768px
    margin 0 auto

  .content
    &-features
        .container
          display flex
          justify-content space-between
    &-text
      &-image
        .container
          display flex
          picture
            margin 1 em
            order 1
            width 30%
          p
            order 2
            width 70%